/* ----- Import fonts from assets folder & Google Fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Austein Regular';
    src: url('assets/fonts/Austein/Austein.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

/* ----- Recurring Elements ----- */

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 100%;

}

.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 100%;

}

.button {
    font-family: Poppins, sans-serif;
    font-size: small;
    font-weight: bold;
    color: #004467;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #38A3A5;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

h4 {
    margin-bottom: 25px;
}

/* ----- Styling Homepage ----- */

body {
    font-family: Poppins-Regular, sans-serif;
    background-color: white;

}


h1 {
    color: white;
    font-family: Poppins-Bold, sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: normal;
    font-family: Poppins-Regular, sans-serif;
    color: white;
}

/* ----- Header ----- */

.navBarTop {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
    background-color: white;

}

.titleLogo {
    color: rgba(40, 62, 83, 255);
    font-family: "Austein Regular", sans-serif;
    font-size: 25px;
}

.navBarLinks a {
    color: rgba(40, 62, 83, 255);
    text-decoration: none;
}

.navBarLinks a:hover {
    color: palegoldenrod;
}

.navBarLinks {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.header1 {
    background-image: url("assets/images/hero-image.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    padding: 100px 0 100px 1000px;

}

.textInHeader1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
    color: white;

}

/* ----- Main ----- */

.recipeCardsHomepage {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 300px;
    margin: 30px 0;
}

.outerContainerSearchBarHomepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(40, 62, 83, 255);
}

.recipeSearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 50px;
}

.recipeSearchInput {
    font-size: medium;
    font-family: Poppins, sans-serif;
    width: 150px;
    height: 35px;
    border-style: groove;
}

.dropDownMenu {
    background-color: white;
    font-size: medium;
    font-family: Poppins, sans-serif;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

.recipeCardsHomepage2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 35px;
}

/* ----- Footer ----- */

.outerContainerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    background-color: rgba(40, 62, 83, 255);
    padding: 30px 200px;
    gap: 30px;
    align-items: baseline;
}

.innerContainerFooterSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    list-style-type: none;
    line-height: 20px;
    color: white;
}

.innerContainerFooterSection ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}

.innerContainerFooterSection li {
    line-height: 25px;
}

.innerContainerFooterSocialLinks {
    display: flex;
    flex-direction: row;
}

.footerSocialIcon {
    display: inline-flex;
    background-color: #38A3A5;
    border-radius: 80%;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;

}

