/* ----- Import fonts from assets folder ----- */
@font-face {
    font-family:"Austein";
    src: url("assets/fonts/Austein/Austein.ttf"); format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("assets/fonts/Poppins/Poppins-Black.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* ----- Recurring Elements ----- */

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 100%;

}

.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex 0 1 100%;

}

.button {
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
    font-size: 0.5em;
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 10px 15px;
}
/* ----- Styling Homepage ----- */

body {
    background-color: white;

}


h1 {
    color: white;
    font-family: Poppins-Bold, sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: normal;
    font-family: Poppins-Regular, sans-serif;
    color: white;
}

.navBarLinks a {
    color: black;

}

.titleLogo {
    color: rgba(40,62,83,255);
}